# Windows
thumbs.db

# Mac OSX
.DS_Store
__MACOSX
installADB.sh

# IntelliJ Idea
*.iml
*.ipr
*.iws
.idea/

# Android SDK
app/bin/
gen/
libs/
tmp/
local.properties

# Maven
classes/
target/
*.releaseBackup
*.versionsBackup

# Apk
apk/

# Gradle
build/
app/FILTERED/
app/build/
out/
.gradle


